<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yy的小站</title>
    {% load staticfiles %} <!--提前声明要加载静态文件-->
    <link rel="stylesheet" type="text/css" href="{% static 'Animation_urls/Home_page.css' %}"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 引入 highcharts.js -->
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
</head>
<body>
           <!--加载静态文件的写法-->
<img src="{% static 'Animation_urls/Home_page.jpg' %}"/>
     <div style="float:right">
         <a href="{% url 'website:login_page' %}?from={{request.get_full_path}}"><button>登录</button></a>
         <a href="{% url 'website:register' %}?from={{request.get_full_path}}"><button>注册</button></a>
     </div>
    <div class="div_app">
        <a class="aa" href="{% url 'website:Animation_urls'%}">动漫导航</a>
        <a class="aa" href="#">我的博客</a>
        <a class="aa" href="{% url 'App:transform_page' %}">小应用</a>
        <div style="opacity:0.5">
            <div id="cont" style="width: 300px;height:200px;"></div>
        </div>
        <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: null                 // 标题
            },
            xAxis: {
                categories: {{ dates |safe }},   // x 轴分类

            },
            yAxis: {
                title: { text: null },                // y 轴标题
                labels:{ enabled: false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: 'love',                       // 数据列名
                data: {{ chart }}                            // 数据

            }],
            legend: { enabled: false },
            credits: { enabled: false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('cont', options);
    </script>
    </div>
</body>
</html>