<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.username}}</title>

    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

{% if user.is_authenticated %}
<ul>
    <li>
        用户名:{{user.username}}
    </li>
    <li>
        邮箱:
        {% if user.email %}
        {{user.email}}
        {% else %}
        未绑定
        {% endif %}
    </li>
    <li>
        <a href="javascript:change_user();">
            修改个人信息
        </a>
    </li>
    <li>
        {{user.password}}
    </li>
    <li>
        <a href="{% url 'website:logout' %}">退出登录</a>
    </li>
</ul>
{% else %}
<span>未登录，即将跳转首页</span>
<script type="text/javascript">
    window.location.href='/website/';
    function change_user(){
        $('#change_user').modal('show');
    }
</script>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="change_user" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">个人信息</h4>
          <span id="error_danger" class="text-danger"></span>
      </div>

        <form id="change_user_form" action="{% url 'website:change_user' %}?from={{request.get_full_path}}"  method="post">
              <div class="modal-body">
                    {% csrf_token %}
                    {% for field in change_form %}
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                    {% endfor %}
                    <span class="pull-right text-danger">{{register_form.non_field_errors}}</span>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">修改</button>
              </div>
        </form>
    </div>
  </div>
</div>
<script type="text/javascript">
    function change_user(){
        $('#id_username').val('{{user.username}}');
        $('#id_email').val('{{user.email}}');
        $('#change_user').modal('show');
    }

    $("#change_user_form").submit(function(){
        $.ajax({
           url: '{% url 'website:change_user' %}',
           type: 'POST',
           data: $(this).serialize(),
           cache: false,
           success: function(data){
                console.log(data)
                if(data['status'] == 'SUCCESS'){
                    window.location.reload();
                }else{
                    $('#id_username').val('{{user.username}}');
                    $('#id_email').val('{{user.email}}');
                    $('#id_password_again').val('');
                    $("#error_danger").text("信息错误");
                    $('#change_user').modal('show');
                }
           },
           error: function(xhr){
                console.log(xhr);
           },
        });
        return false;
    })
</script>
</body>
</html>