.Love
{
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
}
.Love .active
{
    color: pink;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}
li
{
    display:inline-block;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: pink;
}
.user
{
    float:right;
    margin-right:30px;
}